<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSConstraintBasedLayoutVisualizeMutuallyExclusiveConstraints</key>
	<true/>
	<key>LNYNewPostIsDraft</key>
	<true/>
	<key>LNYJekyllInstallerWhatDoesThisDoHidden</key>
	<false/>
	<key>LNYJekyllPath</key>
	<string>/usr/local/bin/jekyll</string>
</dict>
</plist>
